body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

h1 {  
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {  
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6f6;
}

p {
  line-height: 2;
}

.copyright {
  color:#EAf6f6;
  font-size: .75rem;
  padding: 20px;
}
hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top {
background-color: rgb(255, 244, 214);
color:darkgoldenrod;
border: dashed 20px;
margin: 20px;
padding: 100px;
position:relative;
}

.bottom-cloud {
  position: absolute;
  left: 300px;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
background-color: #66bfbf;
padding: 50px 0 20px;
}

.designer {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bjj-img {
width: 25%;
height: 25%;
border-radius: 50%;
float: left;
margin-right: 30px;;
}

.music-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
  float: right;
  margin-left: 30px;;
}

.contact-message {
  width: 30%;
  margin: auto auto 50px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3CB, #2bc4ad);
  text-decoration: none;
}